<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/default.css" type="text/css" id="default-style" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" data-test1="HTML<br>подсказка">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    @*<li class="sessions1">TEST POP UP WINDOW</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="sessions1" data-test1="HTML<br>подсказка">TEST TEST TEST</div><br>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @*ТЕСТ ВСПЛЫВАЮЩИХ ОКОН=====================================================*@
    <script>
        {
            let tooltipElem;

                /*async */function popUpWindow1Show(event) {
                //let url = "http://192.168.0.10:63353/Game/CurrentSessions";
                //let response = await fetch(url);

                //if (response.ok) { // если HTTP-статус в диапазоне 200-299
                //    let str = await response.text();
                //} else {
                //    alert("Ошибка HTTP: " + response.status);
                //}
                let target = event.target;

                //объект элемента всплывающего окна
                tooltipElem = document.createElement('div');
                tooltipElem.className = 'tooltip';
                tooltipElem.innerHTML = "FGDHDGDGHSDFGDGDF";
                //добавляем его в body элемент
                document.body.append(tooltipElem);


                //x положение в/окна
                let left = event.clientX - tooltipElem.offsetWidth / 2;
                if (left < 0) left = 0; // не заезжать за левый край окна

                //y положение в/окна
                let coords = target.getBoundingClientRect();
                let top = coords.top + target.offsetHeight + 5;
                if (top < 0) { // если подсказка не помещается снизу, то отображать её сверху
                    top = coords.top - tooltipElem.offsetHeight - 5;
                }

                //координаты вывода всплывающего окна на уровне стиля-атрибута
                tooltipElem.style.left = left + 'px';
                tooltipElem.style.top = top + 'px';
            }

            function popUpWindow1Hide(e) {
                //удаляем элемент всплывающего окна(если он есть) из разметки
                if (tooltipElem) {
                    tooltipElem.remove();
                    tooltipElem = null;
                }
            }

            let sessionsTag = document.querySelector(".sessions1");//целевой элемент
            sessionsTag.addEventListener("mouseover", popUpWindow1Show);//при наведении на ц/элемент курсора
            sessionsTag.addEventListener("mouseout", popUpWindow1Hide);//при убирании с ц/элемента курсора

            //устанавливает указанные стили последними, что бы они наверняка перекрывали стили бутстрапа
            $(document).ready(function ($) {
                $("#default-style").detach().appendTo("head");
            });
        }
    </script>
</body>
</html>
